<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, optio esse dolore suscipit iusto beatae minima consequuntur voluptas repellat quam aut asperiores similique fugiat neque, cumque animi? Sequi soluta delectus magni perferendis laudantium perspiciatis nulla expedita voluptatem consectetur reiciendis at, repudiandae veniam mollitia iusto optio temporibus pariatur, aliquid dignissimos ratione?</p>
    <a href ="/about">About</a>
    <a href ="/contact">Contact</a>
</body>
</html>