<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" data-th-href = "@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-gray-200 w-1/2 p-4 fles flex-col space-y-3 mx-auto mt-4">
        <h1 class="text-2xl font-bold" data-th-text="${title}"></h1>
        <h3 class="text-xl" data-th-text="${message}"></h3>
        <a data-th-href= "${githubRepo}">Github Repo Link</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, optio esse dolore suscipit iusto beatae minima consequuntur voluptas repellat quam aut asperiores similique fugiat neque, cumque animi? Sequi soluta delectus magni perferendis laudantium perspiciatis nulla expedita voluptatem consectetur reiciendis at, repudiandae veniam mollitia iusto optio temporibus pariatur, aliquid dignissimos ratione?</p>
        <a href ="/about">About</a>
        <a href ="/contact">Contact</a>

        <div>
            <button class="px-2 py-2 rounded bg-blue-700 text-white hover:bg-blue-500">Click Here</button>
        </div>
    </div>
<!-- flow bite content -->
 
    <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </a>
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>